<div class="formulaire_spip formulaire_editer formulaire_editer_site formulaire_editer_site-#ENV{id_syndic,nouveau}[ (#ENV*{logo}|oui)withlogo]">
	[<p class="reponse_formulaire reponse_formulaire_ok" role="status">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur" role="alert">(#ENV*{message_erreur})</p>]
	[<p class="notice">(#ENV*{erreurs/verif_url_auto})</p>]
	[(#ENV{editable})
	<form method='post' action='#ENV{action}'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire
		parametre : url d'action ]
		#ACTION_FORMULAIRE
	  <input type='hidden' name='id_syndic' value='#ENV{id_syndic}' />
		<input type='hidden' name='syndication_old' value="#ENV*{syndication}" />
		[<input type='hidden' name='logo' value='(#ENV*{logo,''})' />]
		[<input type='hidden' name='format_logo' value='(#ENV*{format_logo,''})' />]


		[<!-- Le logo auto-detecte -->
		<div class='previsu_logo_site'>(#ENV*{logo}|image_reduire{180,999})</div>]

		<div class="editer-groupe">
		[(#ENV{id_syndic}|intval|>{0}|sinon{#ENV{url_site}}|non)
			[(#SESSION{statut}|=={0minirezo}|?{' ',#CONFIG{proposer_sites}|>{0}|oui})
			<div class="editer editer_referencement_automatise fieldset">
			  <fieldset>
				  <div class="editer-groupe">
					  <div class="editer editer_url_auto pleine_largeur[ (#ENV*{erreurs/url_auto}|oui)erreur]">
							[<span class='erreur_message'>(#ENV*{erreurs/url_auto})</span>]
							<p class="explication"><:sites:texte_referencement_automatique:></p>
							<input type="text" name="url_auto" id="url_auto" class='text' size='40' placeholder="https://" value="#ENV{url_site}" />
					  </div>
				  </div>
				  <p class="boutons"><input type='submit' class='btn submit' name='ajoute_url_auto' value='<:bouton_ajouter:>' /></p>
					<p class="explication"><:sites:texte_non_fonction_referencement:></p>
				</fieldset>
		  </div>
			]]
	    <div class="editer editer_nom_site obligatoire[ (#ENV*{erreurs/nom_site}|oui)erreur]">
		    	<label for="nom_site"><:sites:info_nom_site_2:></label>[
				<span class='erreur_message'>(#ENV*{erreurs/nom_site})</span>
		      	]<input type='text' class='text' name='nom_site' id='nom_site' value="[(#ENV*{nom_site})]" />
	    </div>
	    <div class="editer editer_url_site obligatoire[ (#ENV*{erreurs/url_site}|oui)erreur]">
		    	<label for="url_site"><:sites:entree_adresse_site:></label>[
				<span class='erreur_message'>(#ENV*{erreurs/url_site})</span>
		    	]<input type='text' class='text' name='url_site' id='url_site' placeholder="https://" value="[(#ENV*{url_site})]" />
	    </div>

	 		[<div class="editer editer_parent[ (#ENV*{erreurs/id_parent}|oui)erreur]">
				<label for="titreparent"><:titre_cadre_interieur_rubrique:>[
				<span class='erreur_message'>(#ENV*{erreurs/id_parent})</span>
				]
				</label>(#VAL|chercher_rubrique{#ENV{id_syndic},#ENV{id_rubrique}|sinon{#ENV{id_parent}},'site',#ENV{id_secteur},#ENV*{config/restreint},0,form_simple})
	    </div>]

	    <div class="editer editer_descriptif[ (#ENV*{erreurs/descriptif}|oui)erreur]">
		    	<label for="descriptif"><:sites:entree_description_site:></label>[
				<span class='erreur_message'>(#ENV*{erreurs/descriptif})</span>
		    	]<textarea name='descriptif' id='descriptif' rows='4' cols='40'>[(#ENV{descriptif})]</textarea>
	    </div>
	    [(#CONFIG{activer_syndic}|=={non}|?{'',' '})
	    <div class="editer editer_syndications fieldset">
			<fieldset>
				<h3 class="legend">[(#CHEMIN_IMAGE{rss-16.png}|balise_img{'',<:sites:info_syndication:>})]
				<:sites:bouton_radio_syndication:>
				#AIDER{rubsyn}</h3>
				<div class="editer-groupe">
					<div class="editer editer_syndication pleine_largeur">
						<div class="choix">
							<input type='radio' class="radio" name='syndication' value='non' id='syndication_non'[ (#ENV{syndication}|match{oui|off}|?{'','checked="checked"'})] />
							<label for='syndication_non'><:sites:bouton_radio_non_syndication:></label>
						</div>
						<div class="choix">
							<input type='radio' class="radio" name='syndication' value='oui' id='syndication_oui'[ (#ENV{syndication}|match{oui|off}|?{'checked="checked"'})] />
							<label for='syndication_oui'><:sites:bouton_radio_syndication:></label>
						</div>
					</div>
					<div class="editer editer_url_syndic">
						<label for='url_syndic'><:sites:entree_adresse_fichier_syndication:>
						</label>[(#ENV*{url_syndic}|saisie_url_syndic{url_syndic,url_syndic})]
					</div>
				</div>
			</fieldset>
	    </div>
	    ]
	  </div>

	  [(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
	  <!--extra-->
	  <p class="boutons"><input type='submit' class='btn submit' value='<:bouton_enregistrer:>' /></p>
	</div></form>
	]
</div>
