<div class="formulaire_spip formulaire_site ajax" id="formulaire_site">
[<p class="reponse_formulaire reponse_formulaire_ok" role="status">(#ENV*{message_ok})</p>]
[<p class="reponse_formulaire reponse_formulaire_erreur" role="alert">(#ENV*{message_erreur})</p>]
[(#ENV{editable})
<form method="post" action="#ENV{action}">
	#ACTION_FORMULAIRE
	<fieldset>
		<legend><:info_site:></legend>
		<p class='explication'><:proposer_site:></p>
		<div class="editer-groupe">
			<div class='editer saisie_nom_site obligatoire[ (#ENV*{erreurs/nom_site}|oui)erreur]'>
				<label for="nom_site"><:sites:form_prop_nom_site:> <:info_obligatoire_02:></label>
				[<span class="erreur_message">(#ENV*{erreurs/nom_site})</span>]
				<input type="text" class="text" name="nom_site" id="nom_site" value="#ENV{nom_site}" size="30"[(#HTML5) required="required"] />
			</div>
			<div class='editer saisie_url_site obligatoire[ (#ENV*{erreurs/url_site}|oui)erreur]'>
				<label for="url_site"><:form_prop_url_site:> <:info_obligatoire_02:></label>
				[<span class="erreur_message">(#ENV*{erreurs/url_site})</span>]
				<input[ (#HTML5|?{type="url" class="text url",type="text" class="text"})] name="url_site" id="url_site" value="#ENV{url_site}" size="30" />
			</div>
			<div class='editer saisie_description_site[ (#ENV*{erreurs/description_site}|oui)erreur]'>
				<label for="description_site"><:form_prop_description:></label>
				[<span class="erreur_message">(#ENV*{erreurs/description_site})</span>]
				<textarea name="description_site" id="description_site" rows="6" cols="60">#ENV{description_site}</textarea>
			</div>
		</div>
	</fieldset>
	[(#REM) Piege a robots spammeurs ]
	<p style="display: none;">
		<label for="nobot"><:antispam_champ_vide:></label>
		<input type="text" class="text" name="nobot" id="nobot" value="#ENV{nobot}" size="10" />
	</p>
	<p class="boutons"><input type="submit" class="btn submit" value="<:bouton_valider:>" /></p>
</form>
]
</div>
