<div class='formulaire_spip formulaire_configurer formulaire_configurer_forums_prives' id='formulaire_configurer_forums_prives'>
<h3 class='titrem'>[(#CHEMIN_IMAGE{forum-interne-24.png}|balise_img{'',cadre-icone})]<:forum:titre_config_forums_prive:></h3>

[<p class="reponse_formulaire reponse_formulaire_ok" role="status">(#ENV*{message_ok})</p>]
[<p class="reponse_formulaire reponse_formulaire_erreur" role="alert">(#ENV*{message_erreur})</p>]

	<form action="#ENV{action}#formulaire_configurer_forums_prives" method="post"><div>
		#ACTION_FORMULAIRE
		<p class='explication'><:forum:info_config_forums_prive:></p>
		<div class="editer-groupe">
			#SET{name,forum_prive_objets}#SET{erreurs,#ENV*{erreurs/#GET{name}}}
			<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
				<label><:forum:item_config_forums_prive_objets:></label>[
				<span class='erreur_message'>(#GET{erreurs})</span>
				]#INCLURE{fond=formulaires/inc-choisir-objets,name=#GET{name},selected=#ENV{#GET{name}},exclus=spip_forum}
			</div>
			<div class='editer configurer_forum_prive[ (#ENV*{erreurs/forum_prive}|oui)erreur]'>
				<label><:forum:info_config_forums_prive_global:></label>[
				<span class='erreur_message'>(#ENV*{erreurs/forum_prive})</span>
				]<div class='choix'>
					<input class='radio' type="radio" name="forum_prive" value='oui' [checked="(#ENV{forum_prive}|=={oui}?{checked})"] id="forum_prive_oui"/>
					<label for="forum_prive_oui"><:forum:item_config_forums_prive_global:></label>
				</div>
				<div class='choix'>
					<input class='radio' type="radio" name="forum_prive" value='non' [checked="(#ENV{forum_prive}|=={oui}?{'',checked})"] id="forum_prive_non"/>
					<label for="forum_prive_non"><:forum:item_non_config_forums_prive_global:></label>
				</div>
			</div>
			<div class='editer configurer_forum_prive_admin[ (#ENV*{erreurs/forum_prive_admin}|oui)erreur]'>
				<label><:forum:info_config_forums_prive_admin:></label>[
				<span class='erreur_message'>(#ENV*{erreurs/forum_prive_admin})</span>
				]<div class='choix'>
					<input class='radio' type="radio" name="forum_prive_admin" value='oui' [checked="(#ENV{forum_prive_admin}|=={oui}?{checked})"] id="forum_prive_admin_oui"/>
					<label for="forum_prive_admin_oui"><:forum:item_activer_forum_administrateur:></label>
				</div>
				<div class='choix'>
					<input class='radio' type="radio" name="forum_prive_admin" value='non' [checked="(#ENV{forum_prive_admin}|=={oui}?{'',checked})"] id="forum_prive_admin_non"/>
					<label for="forum_prive_admin_non"><:forum:item_desactiver_forum_administrateur:></label>
				</div>
			</div>
		</div>
		<p class='boutons'><input class='btn submit' type="submit" name="ok" value="<:bouton_enregistrer:>"/></p>
	</div></form>

</div>
