<h3><:previsualisation:></h3>
		<ul class='forum previsu'><li><ul>
			<li class="forum-fil">
				<div class="forum-message">
					<div class="forum-chapo">
						[<strong class="forum-titre"><a href="#">(#ENV*{titre})</a></strong>]
						[<small><:par_auteur:> <span>(#SESSION{session_nom}|safehtml|sinon{[(#SESSION{nom}|typo)]})</span></small>]
					</div>
					<div class="forum-texte">
						[(#ENV*{texte})]
						[<div class="notes">(#ENV*{notes})</div>]
						[<p class=""><:voir_en_ligne:> : <a href="(#ENV{url_site}|attribut_html)" class="spip_out">[(#ENV*{nom_site}|sinon{[(#ENV{url_site}|couper{80})]})]</a></p>]
						[<div class="forum-document"><:info_document:> : (#ENV{ajouter_document/name})</div>]
						<B_mots><p class="reponse_formulaire"><:forum:forum_avez_selectionne:>
						<BOUCLE_mots(MOTS){id_mot IN #ENV{ajouter_mot}}{par num type}{par type}{par num titre}{par titre}{', '}>#TITRE</BOUCLE_mots>
						</p></B_mots>
					</div>
				</div>
			</li>
			</ul></li>
		</ul>
		[<li class="reponse_formulaire">(#ENV*{erreur})</li>]
[<p class="boutons_formulaire"><input type="submit" class="btn submit" onclick="confirmer_previsu_forum_poste=true;" name="confirmer_previsu_forum" value="(#ENV*{bouton})" /></p>]
<br class="clear" />
<script type="text/javascript">/*<![CDATA[*/
var confirmer_previsu_forum_poste = false;
if (window.jQuery){ jQuery(function(){ jQuery(window).on('unload', function() { if (!confirmer_previsu_forum_poste) alert('<:forum:forum_attention_message_non_poste|texte_script:>');confirmer_previsu_forum_poste=true;});});}
/*]]>*/</script>
