<div class="formulaire_spip formulaire_configurer formulaire_#FORM">
	
<h3 class="titrem"><:compagnon:titre_compagnon:></h3>

[<p class="reponse_formulaire reponse_formulaire_ok" role="status">(#ENV*{message_ok})</p>]
[<p class="reponse_formulaire reponse_formulaire_erreur" role="alert">(#ENV*{message_erreur})</p>]
<form method="post" action="#ENV{action}">
<div>
#ACTION_FORMULAIRE

<div class="editer-groupe">
	#SET{name,activer}#SET{erreurs,#ENV*{erreurs/#GET{name}}}
	<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
		<label for="#GET{name}"><:compagnon:label_activer_compagnon:></label>
		<div class="explication"><:compagnon:explication_activer_compagnon:></div>
		[<span class='erreur_message'>(#GET{erreurs})</span>
		]<div class="choix">
			<input type="radio" name="#GET{name}" id="#GET{name}_oui" value="oui"
			[(#ENV{#GET{name}}|=={non}|non)checked="checked"] /><label for="#GET{name}_oui"><:item_oui:></label>
		</div>
		<div class="choix">
			<input type="radio" name="#GET{name}" id="#GET{name}_non" value="non"
			[(#ENV{#GET{name}}|=={non}|oui)checked="checked"] /><label for="#GET{name}_non"><:item_non:></label>
		</div>
	</div>
</div>

<input type="hidden" name="_meta_casier" value="compagnon/config" />
<p class='boutons'><span class='image_loading'>&nbsp;</span><input type='submit' class='btn submit' value='<:bouton_enregistrer:>' /></p>

</div>
</form>
</div>
