<div class="formulaire_spip formulaire_configurer formulaire_#FORM">
	
<h3 class="titrem"><:compagnon:reinitialisation:></h3>

[<p class="reponse_formulaire reponse_formulaire_ok" role="status">(#ENV*{message_ok})</p>]
[<p class="reponse_formulaire reponse_formulaire_erreur" role="alert">(#ENV*{message_erreur})</p>]
<form method="post" action="#ENV{action}">
<div>
#ACTION_FORMULAIRE

<div class="editer-groupe">
	#SET{name,qui}#SET{erreurs,#ENV*{erreurs/#GET{name}}}
	<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
		<label for="#GET{name}"><:compagnon:label_reinitialiser_compagnon:></label>
		<div class="explication"><:compagnon:explication_reinitialiser_compagnon:></div>
		[<span class='erreur_message'>(#GET{erreurs})</span>
		]<div class="choix">
			<input type="radio" name="#GET{name}" id="#GET{name}_moi" value="moi"
			[(#ENV{#GET{name}}|=={moi}|oui)checked="checked"] /><label for="#GET{name}_moi"><:compagnon:reinitialiser_moi:></label>
		</div>
		<div class="choix">
			<input type="radio" name="#GET{name}" id="#GET{name}_tous" value="tous"
			[(#ENV{#GET{name}}|=={tous}|oui)checked="checked"] /><label for="#GET{name}_tous"><:compagnon:reinitialiser_tous:></label>
		</div>
	</div>
</div>

<input type="hidden" name="_meta_casier" value="compagnon/config" />
<p class='boutons'><span class='image_loading'>&nbsp;</span><input type='submit' class='btn submit' value='<:compagnon:reinitialiser:>' /></p>

</div>
</form>
</div>
