<div class="formulaire_spip formulaire_configurer formulaire_#FORM formulaire_#FORM-#ENV{id,nouveau}">
<h3 class='titrem'><img src="#CHEMIN_IMAGE{image-24.png}" class="cadre-icone" /><:info_generation_miniatures_images:></h3>
	[<p class="reponse_formulaire reponse_formulaire_ok" role="status">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur" role="alert">(#ENV*{message_erreur})</p>]
	[(#ENV{editable})
	<form method='post' action='#ENV{action}'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire
		parametre : url d'action ]
		#ACTION_FORMULAIRE
		<input type='submit' class='btn submit' value='<:bouton_enregistrer:>' style="display:none;"/>
		<div class="editer-groupe">
			#SET{name,image_process}#SET{erreurs,#ENV*{erreurs/#GET{name}}}
			<div class="editer haut editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
				<label for="#GET{name}"><:info_image_process:>#AIDER{logoart}</label>[
				<span class='erreur_message'>(#GET{erreurs})</span>
				]
				<div class="vignettes_reducteur clearfix">
				#SET{process,gd1}
				[<button
					type="submit"
					class="btn btn_secondaire vignette_reducteur[(#ENV{image_process}|=={#GET{process}}|oui)on]"
					style="background-image:url((#GET{process}|url_vignette_choix));"
					name="image_process_\[#GET{process}\]">
				[(#GET{process}|strtoupper)]
				</button>]
				#SET{process,gd2}
				[<button
					type="submit"
					class="btn btn_secondaire vignette_reducteur[(#ENV{image_process}|=={#GET{process}}|oui)on]"
					style="background-image:url((#GET{process}|url_vignette_choix));"
					name="image_process_\[#GET{process}\]">
				[(#GET{process}|strtoupper)]
				</button>]
				#SET{process,netpbm}
				[<button
					type="submit"
					class="btn btn_secondaire vignette_reducteur[(#ENV{image_process}|=={#GET{process}}|oui)on]"
					style="background-image:url((#GET{process}|url_vignette_choix));"
					name="image_process_\[#GET{process}\]">
				[(#GET{process}|strtoupper)]
				</button>]
				#SET{process,imagick}
				[<button
					type="submit"
					class="btn btn_secondaire vignette_reducteur[(#ENV{image_process}|=={#GET{process}}|oui)on]"
					style="background-image:url((#GET{process}|url_vignette_choix));"
					name="image_process_\[#GET{process}\]">
				[(#GET{process}|strtoupper)]
				</button>]
				#SET{process,convert}
				[<button
					type="submit"
					class="btn btn_secondaire vignette_reducteur[(#ENV{image_process}|=={#GET{process}}|oui)on]"
					style="background-image:url((#GET{process}|url_vignette_choix));"
					name="image_process_\[#GET{process}\]">
				[(#GET{process}|strtoupper)]
				</button>]
				</div>
				<p class="explication"><:info_image_process2:></p>
			</div>
			[(#ENV{image_process}|match{^(gd1|gd2)$}|oui)
			#SET{name,max_taille_vignettes}#SET{erreurs,#ENV*{erreurs/#GET{name}}}
			<div class="editer long_label editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
				<label for="#GET{name}"><:info_taille_maximale_images:></label>[
				<span class='erreur_message'>(#GET{erreurs})</span>
				]<iframe style='border:0;height:3em;overflow:hidden;' src='[(#SELF|parametre_url{action,tester_taille}|parametre_url{arg,6000}||parametre_url{time,#EVAL{time()}})]'></iframe>
			</div>
			][(#ENV{formats_graphiques}|oui)
			<div class="editer fieldset">
				<fieldset><legend><:info_generation_miniatures_images:></legend>
					<p><:info_ajout_image:></p>
					<div class="editer-groupe">
						#SET{name,creer_preview}#SET{erreurs,#ENV*{erreurs/#GET{name}}}
						<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
							[
							<span class='erreur_message'>(#GET{erreurs})</span>
							]<div class="choix">
								<input type="radio" name="#GET{name}" id="#GET{name}_non" value="non"
									onclick="$(this).blur();"
									onchange="if ($(this).prop('checked')) $('.editer_taille_preview').hide('fast');"
									[(#ENV{#GET{name}}|=={oui}|non)checked="checked"]
								/><label for="#GET{name}_non"><:item_choix_non_generation_miniature:></label>
							</div>
							<div class="choix">
								<input type="radio" name="#GET{name}" id="#GET{name}_oui" value="oui"
									onclick="$(this).blur();"
									onchange="if ($(this).prop('checked')) $('.editer_taille_preview').show('fast');"
									[(#ENV{#GET{name}}|=={oui}|oui)checked="checked"]
								/><label for="#GET{name}_oui"><:item_choix_generation_miniature:></label>
							</div>
						</div>
						#SET{name,taille_preview}#SET{erreurs,#ENV*{erreurs/#GET{name}}}
						<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]"[(#ENV{creer_preview}|=={oui}|non)style='display:none;']>
							<label for="#GET{name}"><:info_taille_maximale_vignette:></label>[
							<span class='erreur_message'>(#GET{erreurs})</span>
							]<input type='text' name='#GET{name}' id='#GET{name}' value='#ENV{#GET{name}}' />
						</div>
					</div>
				</fieldset>
			</div>
			]
		</div>
	  [(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
	  <!--extra-->
	  <p class='boutons'><span class='image_loading'>&nbsp;</span><input type='submit' class='btn submit' value='<:bouton_enregistrer:>' /></p>
	</div></form>
	]
</div>
