/* #PRODUIRE{fond=css/plan_prive.css}
   md5:b319052c50ee262a065e392e40acbcee */

.plan #contenu p.removable { cursor:pointer; }
.plan #contenu p.removable:hover { opacity:.6; }
#mytree_actions { margin-bottom:1em; margin-top:1em; }
#mytree_actions input,
#mytree_actions .pliage { margin-right:2em; }
#mytree_actions .statut {
	padding-left:1.25rem;;
	background: transparent left 0.3125rem no-repeat;
	display:inline-block;
}
#mytree_actions .statut form { display:inline; }
#mytree_actions .statut form optgroup {
	margin-top:.3em;
	padding:0.3125rem 0.3125rem 0.3125rem 1.5rem;
	background: transparent 0.1875rem 0.3125rem no-repeat;
}
#mytree_actions .statut form option {
	padding:0.125rem 0.125rem 0.125rem 1.25rem;
	background: transparent 0.125rem center no-repeat;
}

#mytree_actions .statut.articles {
	background-image: url('http://127.0.0.1:8000/prive/themes/spip/images/article-xx.svg?1686133566');
	background-size: 1rem;
}
#mytree_actions .statut form optgroup.articles {
	background-image: url('http://127.0.0.1:8000/prive/themes/spip/images/article-xx.svg?1686133566');
	background-size: 1rem;
}


#mytree_actions .statut form option.articles-prepa{
	background-image: url('http://127.0.0.1:8000/prive/themes/spip/images/puce-preparer-xx.svg');
}


#mytree_actions .statut form option.articles-prop{
	background-image: url('http://127.0.0.1:8000/prive/themes/spip/images/puce-proposer-xx.svg');
}


#mytree_actions .statut form option.articles-publie{
	background-image: url('http://127.0.0.1:8000/prive/themes/spip/images/puce-publier-xx.svg');
}


#mytree_actions .statut form option.articles-refuse{
	background-image: url('http://127.0.0.1:8000/prive/themes/spip/images/puce-refuser-xx.svg');
}


#mytree_actions .statut form option.articles-poubelle{
	background-image: url('http://127.0.0.1:8000/prive/themes/spip/images/puce-supprimer-xx.svg');
}


#mytree_actions .statut.syndic {
	background-image: url('http://127.0.0.1:8000/plugins-dist/sites/prive/themes/spip/images/site-xx.svg?1686133572');
	background-size: 1rem;
}
#mytree_actions .statut form optgroup.syndic {
	background-image: url('http://127.0.0.1:8000/plugins-dist/sites/prive/themes/spip/images/site-xx.svg?1686133572');
	background-size: 1rem;
}


#mytree_actions .statut form option.syndic-prop{
	background-image: url('http://127.0.0.1:8000/prive/themes/spip/images/puce-proposer-xx.svg');
}


#mytree_actions .statut form option.syndic-publie{
	background-image: url('http://127.0.0.1:8000/prive/themes/spip/images/puce-publier-xx.svg');
}


#mytree_actions .statut form option.syndic-refuse{
	background-image: url('http://127.0.0.1:8000/prive/themes/spip/images/puce-refuser-xx.svg');
}


.plan .jstree-icon.rubrique {
	background:url('http://127.0.0.1:8000/prive/themes/spip/images/rubrique-xx.svg?1686133566') center center no-repeat;
	background-size: 1rem;
}
.plan .menu-items .menu-items { margin-top:.5em; }
.plan .menu-items .item.group { margin-bottom: 1em; padding-top: 0.3125em; }
.plan .menu-items.rubriques .item > a {
	padding-left:1.25rem;
	background:url('http://127.0.0.1:8000/prive/themes/spip/images/rubrique-xx.svg?1686133566') center left no-repeat;
	background-size: 66.66%;
}
.plan .jstree .puce_objet { margin-right:2px; }
.plan .jstree.drag .item .jstree-icon { cursor: move; }
.plan .jstree.drag .item .jstree-ocl { cursor: pointer; }

.plan .jstree-icon.article {
	background:url('http://127.0.0.1:8000/prive/themes/spip/images/article-xx.svg?1686133566') center center no-repeat;
	background-size: 66.66%;
}
.plan .menu-items.articles .item > a ,
.plan .menu-items.articles .item > strong {
	padding-left:1.25rem;
	background:url('http://127.0.0.1:8000/prive/themes/spip/images/article-xx.svg?1686133566') center left no-repeat;
  background-size: 66.66%;
}

.plan .jstree-icon.site {
	background:url('http://127.0.0.1:8000/plugins-dist/sites/prive/themes/spip/images/site-xx.svg?1686133572') center center no-repeat;
	background-size: 66.66%;
}
.plan .menu-items.syndic .item > a ,
.plan .menu-items.syndic .item > strong {
	padding-left:1.25rem;
	background:url('http://127.0.0.1:8000/plugins-dist/sites/prive/themes/spip/images/site-xx.svg?1686133572') center left no-repeat;
  background-size: 66.66%;
}

