/* #PRODUIRE{fond=css/barre_outils_icones.css,hash=c19f5329ccbc20a0732351da2330c041}
   md5:ea022f8ca7f4ba3867c455da2713a9b6 */

.markItUp .outil_header1>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -2px}
.markItUp .outil_bold>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -22px}
.markItUp .outil_italic>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -42px}
.markItUp .outil_stroke_through>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -62px}
.markItUp .outil_liste_ul>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -442px}
.markItUp .outil_liste_ol>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -462px}
.markItUp .outil_indenter>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -482px}
.markItUp .outil_desindenter>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -502px}
.markItUp .outil_quote>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -302px}
.markItUp .outil_poesie>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -322px}
.markItUp .outil_link>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -342px}
.markItUp .outil_notes>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -362px}
.markItUp .outil_guillemets>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -522px}
.markItUp .outil_guillemets_simples>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -542px}
.markItUp .outil_guillemets_de>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -562px}
.markItUp .outil_guillemets_de_simples>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -582px}
.markItUp .outil_guillemets_uniques>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -602px}
.markItUp .outil_caracteres>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -282px}
.markItUp .outil_a_maj_grave>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -162px}
.markItUp .outil_e_maj_aigu>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -202px}
.markItUp .outil_e_maj_grave>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -222px}
.markItUp .outil_aelig>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -142px}
.markItUp .outil_aelig_maj>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -122px}
.markItUp .outil_oe>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -262px}
.markItUp .outil_oe_maj>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -242px}
.markItUp .outil_ccedil_maj>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -182px}
.markItUp .outil_uppercase>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -82px}
.markItUp .outil_lowercase>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -102px}
.markItUp .outil_code>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -382px}
.markItUp .outil_cadre>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -402px}
.markItUp .outil_clean>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -422px}
.markItUp .outil_preview>a>em {background-image:url(//127.0.0.1:8000/plugins-dist/porte_plume/icones_barre/spt-v1.svg);background-position:-2px -622px}

/* roue ajax */
.ajaxLoad{
		position:relative;
}
.ajaxLoad:after {
		content:"";
		display:block;
		width:5em;
		height:5em;
		border:1px solid #eee;
		background:#fff url('//127.0.0.1:8000/prive/images/loader.svg') center no-repeat;
		background-size:50%;
		opacity:0.5;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-2.5em;
		margin-top:-2.5em;
}
.fullscreen .ajaxLoad:after {
		position:fixed;
		left:75%;
}
