[(#REM)

  Squelette
  (c) xxx
  Distribue sous licence GPL

]
[(#REM) pour permettre d'inclure ce squelette plusieurs fois dans une page, fournir un parametre id_unique dans l'appel]

#SET{nbdocs,0}
<div id="portfolios#ENV{id_unique}" class="portfolios">
[(#REM) Toutes les images]
<B_illustrations>
<h3 class="portfolios__titre"><span class="image_loading"></span><:medias:info_illustrations:></h3>
<div class="liste_items documents ordonner_rang_lien clearfix" id="illustrations#ENV{id_unique}"  data-cookie-affichage="illustrations" data-lien="[(#OBJET|concat{'/',#ID_OBJET}|attribut_html)]">
[<nav class='pagination'>(#PAGINATION{prive})</nav>]
<div class="sortable">
<BOUCLE_illustrations(DOCUMENTS documents_liens types_documents){media=image}{id_objet}{objet}{par rang_lien, num titre, date,id_document}{pagination 50}{statut?}{si #CONST{_COMPORTEMENT_HISTORIQUE_PORTFOLIO}|non}>
	#MODELE{document_desc,id_document,id_objet,objet,espace_prive}
</BOUCLE_illustrations>
</div>
[<nav class='pagination'>(#PAGINATION{prive})</nav>]
[(#AUTORISER{dissocierdocuments,#OBJET,#ID_OBJET}|oui)
	<div class="actions-liste groupe-btns groupe-btns_mini float-end">
		[(#COMPTEUR_BOUCLE|>{1}|oui)
			[(#BOUTON_ACTION{<:medias:lien_tout_enlever:>,#URL_ACTION_AUTEUR{dissocier_document,#ID_OBJET-#OBJET-I/image,#SELF|ancre_url{illustrations}},'ajax noscroll btn_secondaire',<:medias:lien_tout_enlever_verif:>}|ajouter_class{tout_dissocier})]
		][(#REM) Le masquage de ce bouton est géré en JS ]
		[(#BOUTON_ACTION{<:medias:lien_tout_desordonner:>,#URL_ACTION_AUTEUR{desordonner_liens_documents,#ID_OBJET-#OBJET-I/image,#SELF|ancre_url{illustrations}},'ajax btn_secondaire',<:medias:lien_tout_desordonner_verif:>}|ajouter_class{tout_desordonner})]
	</div>
]
</div>
#SET{nbdocs,#GET{nbdocs}|plus{#GRAND_TOTAL}}
</B_illustrations>
	<INCLURE{fond=prive/squelettes/inclure/portfolio-images-legacy,env} />
<//B_illustrations>

[(#REM) puis les documents]
<B_documents>
<h3 class="portfolios__titre"><:medias:info_documents:></h3>
<div class="liste_items documents ordonner_rang_lien clearfix" id="documents#ENV{id_unique}" data-cookie-affichage="documents" data-lien="[(#OBJET|concat{'/',#ID_OBJET}|attribut_html)]">
[<nav class='pagination'>(#PAGINATION{prive})</nav>]
<div class="sortable">
<BOUCLE_documents(DOCUMENTS documents_liens types_documents){media!=image}{mode!=vignette}{id_objet}{objet}{par rang_lien, num titre, date,id_document}{pagination 50}{statut?}>
	#MODELE{document_desc,id_document,id_objet,objet,espace_prive}
</BOUCLE_documents>
</div>
[<nav class='pagination'>(#PAGINATION{prive})</nav>]
[(#AUTORISER{dissocierdocuments,#OBJET,#ID_OBJET}|oui)
	<div class="actions-liste groupe-btns groupe-btns_mini float-end">
		[(#COMPTEUR_BOUCLE|>{1}|oui)
			[(#BOUTON_ACTION{<:medias:lien_tout_enlever:>,#URL_ACTION_AUTEUR{dissocier_document,#ID_OBJET-#OBJET-D/document,#SELF|ancre_url{documents}},'ajax noscroll btn_secondaire',<:medias:lien_tout_enlever_verif:>}|ajouter_class{tout_dissocier})]
		][(#REM) Le masquage de ce bouton est géré en JS ]
		[(#BOUTON_ACTION{<:medias:lien_tout_desordonner:>,#URL_ACTION_AUTEUR{desordonner_liens_documents,#ID_OBJET-#OBJET-D/document,#SELF|ancre_url{documents}},'ajax btn_secondaire',<:medias:lien_tout_desordonner_verif:>}|ajouter_class{tout_desordonner})]
	</div>
]
</div>
#SET{nbdocs,#GET{nbdocs}|plus{#GRAND_TOTAL}}
</B_documents>

<script type="text/javascript">/*<![CDATA[*/
/* Gestion de la modale */
[(#INCLURE{javascript/medias_edit.js}|compacte{js})]

/* Sur la page d'une rubrique, recharger la boîte d'info en cas de rechargement ajax */
[(#OBJET|=={rubrique}|et{#CONST{_AJAX}}|et{#GET{nbdocs}|=={1}}|oui)
if (window.jQuery) jQuery('#navigation .box.info').ajaxReload();]

/* Gestion des différents modes d'affichages, du tri des documents, et des rechargements ajax */
[(#INCLURE{fond=javascript/gestion_listes_documents.js}|compacte{js})]
/*]]>*/</script>
</div>
