<div class="formulaire_spip formulaire_configurer formulaire_#FORM formulaire_#FORM-#ENV{id,nouveau}">
<h3 class='titrem'><img src="#CHEMIN_IMAGE{mot-24.png}" class="cadre-icone" /><:mots:info_mots_cles:></h3>
	[<p class="reponse_formulaire reponse_formulaire_ok" role="status">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur" role="alert">(#ENV*{message_erreur})</p>]
	[(#ENV{editable})
	<p><:mots:texte_mots_cles:></p>
	<form method='post' action='#ENV{action}'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire
		parametre : url d'action ]
		#ACTION_FORMULAIRE
		<div class="editer-groupe">
			#SET{name,articles_mots}#SET{erreurs,#ENV*{erreurs/#GET{name}}}
			<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
				<label><:mots:info_question_mots_cles:></label>[
				<span class='erreur_message'>(#GET{erreurs})</span>
				]<div class="choix">
					<input type="radio" name="#GET{name}" id="#GET{name}_oui" value="oui"
						onclick="$(this).blur();"
						onchange="if ($(this).prop('checked')) $('.editer_articles_mots').siblings('.editer').show('fast');"
						[(#ENV{#GET{name}}|=={oui}|oui)checked="checked"]
					/><label for="#GET{name}_oui"><:mots:item_utiliser_mots_cles:></label>
				</div>
				<div class="choix">
					<input type="radio" name="#GET{name}" id="#GET{name}_non" value="non"
						onclick="$(this).blur();"
						onchange="if ($(this).prop('checked')) $('.editer_articles_mots').siblings('.editer').hide('fast');"
						[(#ENV{#GET{name}}|=={oui}|non)checked="checked"]
					/><label for="#GET{name}_non"><:mots:item_non_utiliser_mots_cles:></label>
				</div>
			</div>
			#SET{name,config_precise_groupes}#SET{erreurs,#ENV*{erreurs/#GET{name}}}
			<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]"[(#ENV{articles_mots}|=={oui}|non)style="display:none;"]>
				<label><:mots:titre_config_groupe_mots_cles:></label>[
				<span class='erreur_message'>(#GET{erreurs})</span>
				]<p class="explication"><:mots:texte_config_groupe_mots_cles:></p>
				<div class="choix">
					<input type="radio" name="#GET{name}" id="#GET{name}_oui" value="oui"
					[(#ENV{#GET{name}}|=={oui}|oui)checked="checked"] /><label for="#GET{name}_oui"><:mots:item_utiliser_config_groupe_mots_cles:></label>
				</div>
				<div class="choix">
					<input type="radio" name="#GET{name}" id="#GET{name}_non" value="non"
					[(#ENV{#GET{name}}|=={oui}|non)checked="checked"] /><label for="#GET{name}_non"><:mots:item_non_utiliser_config_groupe_mots_cles:></label>
				</div>
			</div>
			#SET{name,mots_cles_forums}#SET{erreurs,#ENV*{erreurs/#GET{name}}}
			<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]"[(#ENV{articles_mots}|=={oui}|non)style="display:none;"]>
				<label><:mots:titre_mots_cles_dans_forum:></label>[
				<span class='erreur_message'>(#GET{erreurs})</span>
				]<p class="explication"><:mots:texte_mots_cles_dans_forum:></p>
				<div class="choix">
					<input type="radio" name="#GET{name}" id="#GET{name}_oui" value="oui"
					[(#ENV{#GET{name}}|=={oui}|oui)checked="checked"] /><label for="#GET{name}_oui"><:mots:item_ajout_mots_cles:></label>
				</div>
				<div class="choix">
					<input type="radio" name="#GET{name}" id="#GET{name}_non" value="non"
					[(#ENV{#GET{name}}|=={oui}|non)checked="checked"] /><label for="#GET{name}_non"><:mots:item_non_ajout_mots_cles:></label>
				</div>
			</div>
		</div>
	  [(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
	  <!--extra-->
	  <p class='boutons'><span class='image_loading'>&nbsp;</span><input type='submit' class='btn submit' value='<:bouton_enregistrer:>' /></p>
	</div></form>
	]
</div>