<div class='formulaire_spip formulaire_configurer formulaire_configurer_compteur' id='formulaire_configurer_compteur'>
	<h3 class='titrem'>[(#CHEMIN_IMAGE{statistique-24.png}|balise_img{'',cadre-icone})]<:statistiques:info_forum_statistiques:> #AIDER{confstat}</h3>
	
	[<p class="reponse_formulaire reponse_formulaire_ok" role="status">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur" role="alert">(#ENV*{message_erreur})</p>]
	<form action="#ENV{action}#formulaire_configurer_compteur" method="post"><div>
		#ACTION_FORMULAIRE
		<div class="editer-groupe">
			<div class='editer configurer_activer_statistiques[ (#ENV*{erreurs/activer_statistiques}|oui)erreur]'>
				[<span class='erreur_message'>(#ENV*{erreurs/activer_statistiques})</span>]
				<div class='choix'>
					<input class='checkbox' type="checkbox" name="activer_statistiques" value='oui' [checked="(#ENV{activer_statistiques}|=={oui}|?{checked})"] id="activer_statistiques"/>
					<label for="activer_statistiques"><:statistiques:item_gerer_statistiques:></label>
				</div>
			</div>
			<div class='editer configurer_activer_referers[ (#ENV*{erreurs/activer_referers}|oui)erreur]'>
				[<span class='erreur_message'>(#ENV*{erreurs/activer_referers})</span>]
				<div class='choix'>
					<input class='checkbox' type="checkbox" name="activer_referers" value='oui' [checked="(#ENV{activer_referers, oui}|=={oui}|?{checked})"] id="activer_referers"/>
					<label for="activer_referers"><:statistiques:info_referer_oui:></label>
				</div>
			</div>
			<div class='editer configurer_activer_captures_referers[ (#ENV*{erreurs/activer_captures_referers}|oui)erreur]'>
				<div class='explication'><:statistiques:info_question_vignettes_referer{url=https://plugins.spip.net/thumbsites.html}:></div>
				[<span class='erreur_message'>(#ENV*{erreurs/activer_captures_referers})</span>]
				<div class='choix'>
					<input class='checkbox' type="checkbox" name="activer_captures_referers" value='oui' [checked="(#ENV{activer_captures_referers}|=={oui}|et{#PLUGIN{thumbsites}}|?{checked})"][(#PLUGIN{thumbsites}|non) disabled=disabled"] id="activer_captures_referers"/>
					<label for="activer_captures_referers"><:statistiques:info_question_vignettes_referer_oui:></label>
				</div>
			</div>

		</div>
		<p class='boutons'><input class='btn submit' type="submit" name="ok" value="<:bouton_enregistrer:>"/></p>
	</div></form>

</div>
<script type='text/javascript'>
function actualise_referers(){
	if (jQuery('#activer_statistiques').prop('checked')) {
		jQuery('#formulaire_configurer_compteur .editer.configurer_activer_captures_referers').show();
		if (jQuery('#activer_referers').prop('checked')) {
			jQuery('#formulaire_configurer_compteur .editer.configurer_activer_referers').show();
		} else {
			jQuery('#formulaire_configurer_compteur .editer.configurer_activer_captures_referers').hide();
		}
	} else {
		jQuery('#formulaire_configurer_compteur .editer.configurer_activer_captures_referers').hide();
		jQuery('#formulaire_configurer_compteur .editer.configurer_activer_referers').hide();
	}
}
jQuery(function($){
	$('#activer_statistiques, #activer_referers').on('change', actualise_referers);
	actualise_referers();
});
</script>
